# Ignore IDE settings
.idea/
.vscode/

# Ignore node_modules and build files in React
project/node_modules/
project/build/

# Ignore target folder in Spring Boot
demo/target/

# Ignore environment files
project/.env
demo/src/main/resources/application.properties
demo/src/main/resources/application.yml
